trace.layout= ****************** 线程名 ${threadName}| TraceId ${traceId} | FunctionId ${functionId} | requestId ${requestId} | 方法名 ${methodName}| 方法开始时间 ${beginTime} | 方法结束时间 ${endTime} | 方法入参 ${arguments} | 方法返回值 ${returnResult} | 异常信息 ${exception} | Agent拦截器损耗 ${costTime} | 表达式获取RPC上下文信息 ${rpcContext.get("trace.traceId")} | 表达式获取参数 ${params[0]}
